*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
	background: url("../images/light_background.png") repeat ;
}
.container {
  margin: 0 auto;
  /*max-width: 50rem; /*REVISAR*/
  width: 90%;
}
.filler{
	float: right;
	width: 40%;
	margin-bottom: 4rem;
}
@media (max-width: 60rem){
	.filler{
		width: 100%;
	}
}
footer{
	font-size: .8rem;
}

/*Gallery 
===========================================================*/
.grid{
	background-color: rgba(168, 26, 197, 0.06)
	padding-bottom: .5rem;
	padding-right: .5rem;
}
.cell:hover .overlay{	
	opacity: 1;
}
.cell img{
	width: 100%;
}
.cell{
	position: relative;
}
	/*Hover box
	===========================================================================*/
	.overlay{
		position: absolute;
		top: .5rem;
		left: .5rem;
		background-color: rgba(255,255,255,.6);
		/*background: linear-gradient(rgba(255,255,255,1), rgba(255,255,255,0)  35%);
		padding-bottom: 10rem;*/
		width: calc(100% - .5rem);	
		max-height: calc(100% - .5rem);
		opacity: 0;
		z-index: 1000;
		line-height: 1;	
		padding-left: .5rem;
		overflow: auto;

		-webkit-transition: all 0.5s ease-in-out;
	    -moz-transition: all 0.5s ease-in-out;
	      -o-transition: all 0.5s ease-in-out;
	        -ms-transition: all 0.5s ease-in-out;
	          transition: all 0.5s ease-in-out;
	}
	.overlay p{
		color: #3F3939;
	}
	/*===========================================================================*/
/*===========================================================================*/

/*Different screen widths
===========================================================================*/

@media (max-width: 39rem) , (min-width: 40rem){
  .cell {
  	margin: 0;
    float: left;
    padding-left: .5rem;
    padding-top: .5rem;
    width: 100%;
    height: auto;
  }	

}
@media (max-width: 20rem), (max-width: 39rem) , (min-width: 40rem){
  .cell.full { width: 100%; }
}
@media (min-width: 40rem) {
  .cell.two-thirds { width: 66.7%; }
  .cell.half { width: 50%; }
  .cell.third { width: 33.3%; }
  .cell.fourth { width: 25%; }
  .cell.flow-opposite { float: right; }  
}
@media (max-width: 39rem){    
  .cell.half { width: 50%; }
}
@media (max-width: 20rem){
	.cell.full{
	    width: 100%;
	}
	.cell{
		margin: 0;
		padding: 0;
	    padding-top: .5rem;
	    height: auto;		
	}
	.overlay{
		left: 0;
		width: 100%;
		max-height: calc(100% - .75rem);
	}
}
/*===========================================================================*/

/*Mobile
===========================================================================*/
@media screen{

}
/*===========================================================================*/

/*Custom Scrollbar
============================================================================*/

/**::-webkit-scrollbar {
    width: 1em;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}*/


/* Clearfix
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }