*{
  box-sizing: border-box;
}
html, body{
  height: 100%;
  text-align: center;
}
.header, .footer, .navigation, .sidebar{
  background-image: url("gray_sand.png");
}
.block{
  padding: 2%;
  border-radius: 10px;
  background-color: darkgrey;
  color: white;
}
.inner{
  background-color: lightgrey;
}
.container{
  background-color: #595959;
  height: 100%;
  position: relative;
  padding: 0.5em;
  padding-top: 1px;
}
.header {
  font-size: 46px;
  padding: 0;
}
.side{
  width: 15%;
  height: 75%;
}  
.navigation {
  font-size: 12px;
  float: left;
}
.sidebar {
  font-size: 10px;
  float: right;
}
.content {
  font-size: 14px;
  position: relative;
  margin-left: 16%;
  margin-right: 16%;
  height: 75%;
}
.footer {
  font-size: 10px;
  height: 10%;
  padding-top: 2%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.article{
 position: absolute;
  right: 0;
  left: 0;
  margin: 0.5em;
  height: 75%;
}
[class*=a]:not[class$=r]{
  background-image: none;
  background-color:blue;
}

[class$=r] {
  background-image: none;
  background-color:magenta;
} 